html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
  color: #545149;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
justify-content: center;
background-color: rgb(238, 226, 188);
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

 .container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
 }