/* 120 pixels in height
Full width of the viewport
#4056A1 as its default background colour
#FFFFFF as its default font colour
<span> within the <nav> uses Bungee as its default font-family
1.5ems of space on the right and left between the content and the edges */
.fixed-nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  z-index: 9999;
  /* Project Requirements */
  padding: 1.5em;
  color: white;
  background-color: #4056A1;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  align-content: center;
}

/* nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px; */
  /* Project Requirements */
  /* padding: 1.5em;
  color: white;
  background-color: #4056A1;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  align-content: center;
 } */
 
main {
margin-top: 30px;
}

  nav h1 {
    font-family: "Bungee", sans-serif;
    font-size: 2rem; 
    margin-bottom: 2rem;
    align-content: center;
    align-items: center;
  }
  nav div {
    display: flex;
    align-content: center;
    flex-flow: column;
    align-content: center;
  }

    nav i {
      margin: -8px;
    padding-bottom: 1rem;
    padding-left: 10rem;
    align-self: center;
    color: #DE5039;
    font-size: large;
    justify-content: flex-end;
    }