.posted-tweets {
  width: 50rem;
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-bottom: 1rem;
}

.tweet {
  border: 4px solid #545149;
  margin-top: 2rem;
}

.tweet:hover {
  box-shadow: 5px 10px grey;
}

.name-and-pic {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.name {
  padding-left: 1rem;
}

.username-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.username {
  opacity: 0.5;
  padding-right: 1rem;
}

.content {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  width: 98%;
}
.date {
  display: flex;
  align-self: flex-start;
}

.date-and-time-icons {
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: auto;
  width: 48rem;
  border-top: 4px solid #545149;
  padding-left: 0.5rem;
}

#heart {
  margin: 5px;
}

#heart:hover {
  color: #ec9a29;
}

#flag {
  margin: 5px;
}

#flag:hover {
  color: #ec9a29;
}

#retweet {
  margin: 5px;
}

#retweet:hover {
  color: #ec9a29;
}
